$primary_bg: #404550;
$primary_border: #555c6a;
$primary_col: #edeef1;

$edit_bg: #636b7c;
// $primary_input: #404550;

$second_bg: #2b2e35;
$second_bg: #2a3236;
// $second_bg: #263238;
// $second_bg: #102250;

$side_tab_bg: #293237;
$side_tab_border: #44535b;
$side_tab_col: #bfbfbf;
$side_tab_col: #eceff1;
$top: 32px;
$left: 310px;
$right: 310px;

$side_bg_primary: #1d2327;
$side_bg_primary: #1b2125;
$side_bg_border: #678898;
$side_color: #cfcfcf;

// $side_box_bg: #293237;

// $primary_col: #eceff1;
$primary_border: #37474f;
$side_box_highlite: #fff;
// $primary_col: #eceff1;
$primary_col_border: #7f93a0;

$color_1: $primary_col;
$color_11: #0e41d1;
$color_12: #8b1414;
$color_13: #eee;
$color_14: #cfd8dc;
$color_15: #252c3b;
$color_16: #000;
$color_17: #600000;
$color_18: #0a3476;
$color_19: #003d60;

$color_2: #444;
$color_3: #fff;
$color_4: #f0f0f1;
$color_5: #999;
$color_6: #105c8f;
$color_7: #9f0000;
$color_8: #7c3104;
$color_9: #cbd6f3;
$color_00: #803000;
$color_01: #0e41d1;
$color_02: #8b1414;
$color_03: #eee;
$color_04: #cfd8dc;
$color_05: #252c3b;
$primary_col6: #000;
$primary_col7: #600000;
$primary_col8: #0a3476;
$primary_col9: #003d60;
$color_20: #2E486B;
$color_21: #f00;
$color_22: #00f;
$color_23: #545d6b;
$color_24: #005180;
$color_25: #FFFFFF;
$color_26: #601300;
$color_27: #311b92;
$color_28: #2c1a46;
$color_29: #1a237e;
$color_30: #03405d;
$color_31: #eceff1;
$color_32: #37474f;
$color_33: #2f3238;
$color_34: #5d504f;
$color_35: #cc6055;
$color_36: #f3cf3f;
$color_37: #2d434e;
$color_38: #3c4a50;
$color_39: #252d31;
$font-family_2: Font Awesome\ 5 Free;
$background-color_1: #c3d2db;
$background-color_2: transparent;
$background-color_3: #b0bec5;
$background-color_4: #0091ea;
$background-color_5: #fff;
$background-color_6: rgba(58, 52, 42, 0);
$background-color_7: #200000;
$border-color_1: #dfdfdf;
$border-color_2: #101010;
$border-top-color_1: #0A5EBF;
$border-right-color_1: #0A5EBF;
$border-bottom-color_1: #F0F0F1;
$border-bottom-color_2: #0A5EBF;
$border-left-color_1: #0A5EBF;